# Source files
src/

# Configuration files
.eslintrc.js
.eslintrc.json
.eslintignore
.prettierrc
.prettierignore
tsconfig.json
eslint.config.js
pnpm-lock.yaml

# Editor directories and files
.vscode/
.idea/
*.swp
*.swo

# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/

# TypeScript cache
*.tsbuildinfo
